.Description {
  text-align: left;
  margin-left: 22px;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 570px) {
  .Description {
    text-align: center;
    font-size: 13px;
    margin-left: 0;
  }
}
